@import '../../../globalStyles/config.module.scss';

.wrapper {
  --image-width: calc(6rem + 7vw);
  --play-btn-size: 4rem;
  --padding: var(--space-400);

  position: relative;
  padding: 0 var(--padding);

  .banner {
    position: relative;
    width: 100vw;
    margin-left: calc(-1 * var(--padding));
    height: calc(2 * var(--image-width));
    background-color: var(--bg-color);
    background-image: var(--banner-image);
    background-position: 50% 35%;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -999;

    &:after {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background: linear-gradient(
        180deg,
        rgba(19, 19, 19, 0) 40%,
        rgba(19, 19, 19, 0.55)
      );
    }
  }

  .details {
    margin-top: calc(
      var(--play-btn-size) / 2 -
        (var(--image-width) / var(--image-aspect-ratio))
    );
    display: grid;
    grid-template-columns: var(--image-width) 1fr;
    column-gap: var(--space-500);
    justify-items: center;
    align-items: flex-end;
    padding-left: var(--space-400);

    .cover {
      width: 100%;
      @include image-with-aspect-ratio;
      border-radius: 0.2em;
    }

    .watch {
      display: flex;
      align-items: center;
      justify-content: center;
      width: var(--play-btn-size);
      height: var(--play-btn-size);
      background: var(--cl-primary-3);
      border-radius: 50%;
      box-shadow: 0 0.05em 0.05em 0.05em var(--color-shadow);

      .text {
        display: none;
      }

      svg {
        fill: var(--w-5);
        width: 1.5rem;
        height: 1.5rem;
      }
    }
  }

  .title {
    font-size: var(--text-size-600);
    font-weight: 700;
    line-height: 1.5;
    margin: var(--space-400) 0;
  }

  .description {
    font-size: var(--text-size-400);
    padding: var(--space-500);
    line-height: 1.7;
    grid-column-start: 1;
    grid-column-end: -1;
    background: var(--color-foreground-50);
  }
}
