@import '../../../globalStyles/config.module.scss';

.wrapper {
  --image-width: calc(6rem + 7vw);
  --play-btn-size: 2.5rem;

  position: relative;
  background: var(--color-foreground-50);
  padding: 0 var(--space-400);
  padding-bottom: var(--space-500);

  .banner {
    position: relative;
    width: 100vw;
    margin-left: calc(-1 * var(--space-400));
    height: calc(2 * var(--image-width));
    background-color: var(--bg-color);
    background-image: var(--banner-image);
    background-position: 50% 35%;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;

    &:after {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background: linear-gradient(
        180deg,
        rgba(19, 19, 19, 0) 40%,
        rgba(19, 19, 19, 0.55)
      );
    }
  }

  .details {
    margin-top: calc(
      var(--play-btn-size) + var(--space-300) -
        (var(--image-width) / var(--image-aspect-ratio))
    );
    display: grid;
    grid-template-columns: var(--image-width) 1fr;
    column-gap: var(--space-400);
    align-items: flex-end;
    z-index: 999;

    .cover {
      width: 100%;
      @include image-with-aspect-ratio;
      border-radius: 0.2em;
    }

    .watch {
      display: flex;
      align-items: center;
      justify-content: center;
      background: var(--cl-primary-3);
      box-shadow: 0 0.05em 0.025em 0.025em var(--color-shadow);
      text-decoration: none;
      width: 100%;
      height: var(--play-btn-size);
      border-radius: 0.1em;
      @include mouse-effects($active: 90%);

      &:active {
        transform: scale(0.98);
      }

      .text {
        color: var(--w-5);
        margin-right: var(--space-200);
      }

      svg {
        fill: var(--w-5);
      }

      @include for-tablet-landscape-up {
        max-width: var(--image-width);
      }
    }
  }

  .title {
    font-size: var(--text-size-600);
    font-weight: 700;
    line-height: 1.5;
    margin-top: var(--space-400);
  }

  .subTitle {
    margin-top: var(--space-500);
    @include for-desktop-up {
      display: none;
    }
  }

  .description {
    position: relative;
    font-size: var(--text-size-400);
    padding: 0 var(--space-400);
    margin-top: var(--space-200);
    @include padding-on-scroll-element(var(--space-500));
    line-height: 1.7;
    grid-column-start: 1;
    grid-column-end: -1;
  }
}
