@import '../../../globalStyles/config.scss';

.wrapper {
  .details {
    position: relative;
    display: grid;
    grid-template-columns: 6em 1fr;
    place-items: center;
    padding: 1.5em 2.5em;

    &:before {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background-image: var(--banner-image);
      background-position: 50% 35%;
      background-repeat: no-repeat;
      background-size: cover;
      z-index: -999;
      filter: blur(0.35em) saturate(1.5) brightness(0.7);
    }

    .cover {
      @include image-with-aspect-ratio;
      border-radius: 0.2em;
    }

    .title {
      font-weight: 800;
      font-size: 1.5em;
      color: var(--w-5);
      text-align: center;
      padding: 1em;
      margin-left: 1em;
      border-radius: 0.15em;
      backdrop-filter: brightness(0.7) grayscale(0.5) hue-rotate(36deg);
    }
  }

  .description {
    font-size: 0.85em;
    padding-top: 1.5em;
    grid-column-start: 1;
    grid-column-end: -1;
  }
}
