@use '../../../css/config.scss' as *;

.container {
  max-width: 100%;
  display: flex;
  overflow-x: auto;
  padding: var(--space-400) var(--space-500);
  @include gap($row: var(--space-600));
  margin-top: var(--space-500);
  background: var(--color-foreground-50);

  @include mq(above, md) {
    width: 20rem;
    flex-direction: column;
  }
}
