@import '../../globalStyles/config.scss';

.popoverWrapper {
  position: relative;
}

.wrapper {
  display: grid;
  grid-template-rows: auto 1fr;
  row-gap: 0.75rem;
  justify-items: center;
  align-items: start;
  cursor: pointer;
  z-index: 998;

  .imageWrapper {
    position: relative;
    display: block;
    width: 100%;
    padding: 0;
    padding-top: calc(100% / var(--image-aspect-ratio));
    border-radius: 0.15rem;
    overflow: hidden;
    background: var(--color-background);

    &.loaded {
      .image {
        opacity: 1;
      }
    }

    &.loading {
      .image {
        opacity: 0;
      }
    }
  }

  .image {
    position: absolute;
    display: block;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    transition: all 0.3s ease-in-out;
  }

  .title {
    color: var(--color-text-300);
    align-self: start;
    font-size: 0.8rem;
    line-height: 1.2;
    @include add-ellipsis(2);

    a {
      color: inherit;
      text-decoration-color: var(--gray-600);
      text-underline-offset: 0.2em;
      transition: all 0.15s ease-in-out;

      @include on-hoverable-devices {
        &:hover {
          text-decoration-color: inherit;
          color: var(--color-text);
        }
      }
    }
  }
}
