@use '../../../../css/config.scss' as *;

.container {
  position: relative;
  display: flex;
  overflow: hidden;
  --padding: var(--space-400);

  .rank {
    position: absolute;
    right: var(--padding);
    top: var(--padding);
    width: 3rem;
  }

  .card {
    flex: 1;
    max-width: 100%;
    position: relative;
    display: grid;
    grid-template-columns: 3.5rem 1fr;
    font-size: var(--text-size-400);
    border-radius: 0.1em;
    padding: var(--padding);
    background-color: var(--color-foreground-100);

    @mixin background-image {
      background-image: var(--banner-image);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: 50% 50%;

      &:before {
        display: block;
        position: absolute;
        background: var(--color-foreground-100);
        content: '';
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        opacity: 0.85;
      }
    }

    @include on-hoverable-devices {
      background-image: none;
      &:before {
        display: none;
      }
      &:hover,
      &:focus-within {
        @include background-image;
      }
    }
  }

  .content {
    position: relative;
    max-width: 100%;
    display: grid;
    grid-template-columns: minmax(0, 1fr) 6rem 6rem 12rem;
    column-gap: var(--space-500);
    padding-left: var(--space-500);
    z-index: 999;
  }

  .header {
    margin-bottom: var(--space-300);

    a {
      display: inline-block;
      margin-bottom: var(--space-300);
      max-width: 100%;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  .genres {
    font-size: var(--text-size-200);
  }
}
