@import '../../../../globalStyles/config.module.scss';

.wrapper {
  position: relative;
  display: flex;
  overflow: hidden;
}

.rank {
  display: flex;
  width: 6em;
  align-items: center;
  justify-content: center;

  .hash {
    font-weight: 400;
    margin-right: var(--space-100);
  }

  .number {
    font-weight: 550;
    font-size: var(--text-size-600);
  }
}

.card {
  @mixin background-image {
    background-color: var(--color-foreground-100);
    background-image: var(--banner-image);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;

    &:before {
      display: block;
      position: absolute;
      background: var(--color-foreground-100);
      content: '';
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      opacity: 0.85;
    }
  }
  flex: 1;
  position: relative;
  display: grid;
  grid-template-columns: calc(3rem + 7%) 1fr;
  padding: var(--space-400);
  font-size: var(--text-size-400);
  border-radius: 0.1em;
  @include background-image;

  @include on-hoverable-devices {
    background-image: none;
    &:before {
      display: none;
    }
    &:hover,
    &:focus-within {
      @include background-image;
    }
  }

  @include for-phone-only {
    display: block;
  }
}

.imageWrapper {
  display: block;
  border-radius: 0.1rem;
  background: var(--color-original);
  z-index: 999;
  @include image-with-aspect-ratio;
  @include zoom-image;
  align-self: center;

  img {
    transition: all 0.3s ease-in-out;

    &.loaded {
      opacity: 1;
    }

    &.loading {
      opacity: 0;
    }
  }

  @include for-phone-only {
    display: none;
  }
}

.content {
  overflow: hidden;
  position: relative;
  z-index: 1000;
  display: grid;
  place-items: center;
  max-width: 100%;
  grid-template-columns: repeat(3, 1fr);
  column-gap: var(--space-400);
  row-gap: var(--space-200);

  .title {
    font-size: var(--text-size-500);
    max-width: 100%;
    width: 100%;
    grid-column: 1/-1;
    overflow: hidden;

    a {
      @include add-ellipsis(1);
      margin-bottom: var(--space-200);
      text-decoration-color: var(--color-underline-100);
      text-underline-offset: var(--space-100);
      transition: all 0.15s ease-in-out;
      max-width: 100%;

      &:hover,
      &:focus {
        text-decoration-color: inherit;
        color: var(--color-text);
      }
    }

    @include for-tablet-portrait-up {
      margin-left: var(--space-500);
    }
  }

  .genres {
    font-size: var(--text-size-300);
  }

  .row {
    font-size: var(--text-size-400);
    display: flex;
    flex-direction: column;
    line-height: 1.75;
  }
}
.subRow {
  display: inline-block;
  font-size: var(--text-size-300);
  font-weight: 350;
  color: var(--color-text-200);
}

.review {
  .percentage {
    display: grid;
    grid-template-columns: auto 1fr;
    column-gap: var(--space-200);
    justify-items: flex-start;
  }

  svg {
    vertical-align: top;
    height: 1.75em;
  }
}
