@use '../../../../css/config.scss' as *;

.wrapper {
  position: relative;
  overflow: hidden;

  @include mq(above, sm) {
    display: flex;
  }

  @include mq(below, sm) {
    font-size: var(--text-size-300);
  }
}

.rank {
  background: var(--color-adjusted);
  color: var(--color-foreground-300);
  font-size: var(--text-size-400);
  font-weight: 500;
  @include rank($right: var(--space-300), $top: var(--space-300), $size: 3rem);
}

.card {
  background-color: var(--color-foreground-100);
  @include padding-vertical(var(--space-400));

  @mixin background-image {
    background-image: var(--banner-image);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;

    &:before {
      display: block;
      position: absolute;
      background: var(--color-foreground-100);
      content: '';
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      opacity: 0.85;
    }
  }

  @include on-non-hoverable-devices {
    @include background-image;
  }

  @include on-hoverable-devices {
    background-image: none;
    &:before {
      display: none;
    }
    &:hover,
    &:focus-within {
      @include background-image;
    }
  }

  @include mq(above, sm) {
    flex: 1;
    max-width: 100%;
    position: relative;
    display: grid;
    grid-template-columns: calc(3rem + 7%) 1fr;
    font-size: var(--text-size-400);
    border-radius: 0.1em;
    @include padding-horizontal(var(--space-400));
  }

  @include mq(below, sm) {
    & > a {
      display: none;
    }
  }
}

.content {
  overflow: hidden;
  position: relative;
  z-index: 999;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  max-width: 100%;
  @include padding-horizontal(var(--space-500));

  .header {
    font-size: var(--text-size-500);
    max-width: 100%;
    width: 100%;
    overflow: hidden;
    margin-bottom: var(--space-300);

    a {
      margin-bottom: var(--space-300);
      max-width: 100%;
    }
  }

  .genres {
    font-size: var(--text-size-300);

    @include mq(below, sm) {
      font-size: var(--text-size-200);
    }
  }

  .row {
    flex-basis: auto;
    font-size: var(--text-size-400);
    display: flex;
    flex-direction: column;
    line-height: 1.75;
  }
}
.subRow {
  display: inline-block;
  font-size: var(--text-size-300);
  font-weight: 350;
  color: var(--color-text-200);
}
