.wrapper {
  position: relative;

  * {
    font-size: 0.8rem;
  }

  &:hover,
  &:focus,
  &:active {
    .selected {
      color: var(--color-text-200);
    }
  }
}

.dropdownHeader {
  display: flex;
  align-items: center;
  cursor: pointer;
  font-weight: inherit;

  * {
    color: var(--color-text-300);
  }
}

.selected {
  padding-left: 0.3rem;
}
