@use '../../../../css/config.scss' as *;

.container {
  position: relative;
  max-height: 300px;
  overflow: hidden;

  @include mq(above, md) {
    &:hover {
      .toggleExpansion {
        color: inherit;
      }
    }
  }

  .description {
    a {
      color: var(--color-text-accent-100);

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .toggleExpansion {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    background: linear-gradient(to top, var(--color-background), transparent);
    transition: color ease-in-out 0.1s;
    padding: var(--space-400);

    @include mq(above, md) {
      color: transparent;
    }

    @include mq(above, md) {
      &:hover {
        color: var(--color-text-accent-200);
      }
    }
  }

  &.expanded {
    max-height: fit-content;

    .toggleExpansion {
      position: static;
      color: var(--color-text-accent-200);
    }
  }

  .spoiler {
    position: relative;
    cursor: pointer;
    width: fit-content;
    color: hsl(0, 69%, var(--lightness));

    & > span {
      display: none;
    }

    &:after {
      content: 'Spoiler, click to view';
      display: block;
      color: var(--color-text-accent-100);
    }

    &.showSpoiler {
      &:after {
        --icon-size: 1.25rem;
        content: '\00d7';
        position: absolute;
        display: grid;
        place-content: center;
        left: calc(-1 * var(--icon-size));
        top: calc((-0.5 * var(--icon-size)));
        width: var(--icon-size);
        height: var(--icon-size);
        border-radius: calc(var(--icon-size) / 2);
        background: var(--color-foreground-200);
      }

      & > span {
        display: inline;
      }
    }
  }
}
