@use '../../../../css/config.scss' as *;

.container {
  @include gap($column: var(--space-400));

  .spoiler {
    position: relative;
    cursor: pointer;
    width: fit-content;
    color: hsl(0, 69%, var(--lightness));

    & > span {
      display: none;
    }

    &:after {
      content: 'Spoiler, click to view';
      display: block;
      color: var(--color-text-accent-100);
    }

    &.showSpoiler {
      &:after {
        --icon-size: 1.25rem;
        content: '\00d7';
        position: absolute;
        display: grid;
        place-content: center;
        left: calc(-1 * var(--icon-size));
        top: calc((-0.5 * var(--icon-size)));
        width: var(--icon-size);
        height: var(--icon-size);
        border-radius: calc(var(--icon-size) / 2);
        background: var(--color-foreground-200);
      }

      & > span {
        display: inline;
      }
    }
  }
}
