@use '../../../css/config.scss' as *;
.container {
  --image-width: calc(6rem + 7vw);
  --play-btn-size: 2.75rem;
  --padding: var(--space-400);

  position: relative;
  padding: 0 var(--padding);
  padding-bottom: var(--padding);
  background: var(--color-foreground-50);

  .banner {
    position: relative;
    width: 100vw;
    margin-left: calc(-1 * var(--padding));
    height: calc(2 * var(--image-width));
    background-color: var(--bg-color);
    background-image: var(--banner-image);
    background-position: 50% 35%;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;

    &:after {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background: linear-gradient(
        180deg,
        rgba(19, 19, 19, 0) 40%,
        rgba(19, 19, 19, 0.55)
      );
    }
  }

  .details {
    margin-top: calc(
      var(--play-btn-size) + var(--space-300) -
        (var(--image-width) / var(--image-aspect-ratio))
    );
    display: grid;
    grid-template-columns: var(--image-width) 1fr;
    column-gap: var(--space-400);
    align-items: flex-end;
    z-index: 999;

    .cover {
      width: 100%;
      @include image-with-aspect-ratio;
      border-radius: 0.2em;
    }

    .button {
      display: flex;
      align-items: center;
      justify-content: center;
      background: var(--primary-500);
      box-shadow: 0 0.05em 0.025em 0.025em var(--color-shadow);
      text-decoration: none;
      width: 100%;
      height: var(--play-btn-size);
      border-radius: 0.25em;
      @include mouse-effects(var(--primary-600), var(--primary-400), bg);

      &:active {
        transform: scale(0.98);
      }

      .text {
        color: var(--white-600);
        margin-right: var(--space-200);
      }

      svg {
        fill: var(--white-600);
      }

      @include mq(above, md) {
        max-width: var(--image-width);
      }
    }
  }

  .title {
    font-size: var(--text-size-600);
    font-weight: 700;
    line-height: 1.5;
    margin-top: var(--space-400);
  }

  .subTitle {
    margin-top: var(--space-500);
    @include mq(above, lg) {
      display: none;
    }
  }

  .description {
    --padding: var(--space-500);
    --lines: 9;
    --line-height: 1.8;

    background: var(--color-foreground-100);
    @include padding-on-scroll-element(var(--padding));
    padding: var(--padding);
    margin-top: var(--space-400);
    max-height: calc(
      var(--line-height) * var(--lines) * 1em + (2 * var(--padding))
    );
    overflow-y: auto;

    & > p {
      @include description(var(--lines));
      line-height: var(--line-height);
      font-size: var(--text-size-400);
    }
  }
}
