@use '../../../css/config.scss' as *;

.wrapper {
  position: relative;

  * {
    font-size: var(--text-size-300);
  }

  &:hover,
  &:focus,
  &:active {
    .selected {
      color: var(--color-text-200);
    }
  }
}

.dropdownHeader {
  display: flex;
  align-items: center;
  cursor: pointer;
  font-weight: inherit;
  @include gap($row: var(--space-200));

  .empty {
    color: var(--color-text-500);
  }

  * {
    color: var(--color-text-300);
  }
}
