@import '../../../../globalStyles/config.module.scss';

@mixin card-wrapper {
  --genre-height: 2.5em;

  display: flex;
  background: var(--color-foreground-100);
  border-radius: 0.1rem;
  overflow: hidden;

  @content;
}
