@import '../../../../globalStyles/config.module.scss';
@import './cardChartConfig.scss';

.wrapper {
  @include card-wrapper;

  a {
    overflow: hidden;
  }

  .imageWrapper {
    max-width: 11rem;
    flex: 0 0 42.5%;
    background: var(--color-original);
    @include card-image;
  }
}

.content {
  flex: 1 1 auto;
  display: grid;
  grid-template-rows: 1fr auto;
  min-height: 0;
}

.cardBody {
  position: relative;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
}

.scrollWrapper {
  position: absolute;
  width: 100%;
  padding: var(--space-400);
}

.cardHeader {
  margin-bottom: var(--space-400);
  margin-left: 0;

  .score {
    display: none;
  }

  @include for-tablet-portrait-up {
    display: grid;
    grid-template-columns: 1fr auto;
    column-gap: var(--space-400);
    place-items: start;

    .score {
      display: grid;
      font-size: var(--text-size-300);
      column-gap: var(--space-100);
      grid-template-columns: auto auto;
      place-items: center;
    }
  }

  .title {
    width: 100%;
    .primaryTitle {
      font-size: var(--text-size-400);
      color: var(--color-text-100);
      @include add-ellipsis(2);
      font-weight: 550;
      cursor: pointer;

      &:hover,
      &:focus-within {
        a {
          text-decoration-color: inherit;
          color: var(--color-text);
        }
      }
      a {
        color: inherit;
        text-decoration-color: var(--b-6);
        text-underline-offset: var(--space-100);
        transition: all 0.15s ease-in-out;
      }
    }

    .secondaryTitle {
      font-weight: 300;
      font-size: var(--text-size-200);
      margin-top: var(--space-200);
      color: var(--color-text-200);
      @include add-ellipsis(1);
    }
  }
}

.genres {
  font-size: var(--text-size-200);
  padding: var(--space-300) var(--space-400);
  background: var(--color-foreground-200);
}

.description {
  font-size: var(--text-size-300);
  color: var(--color-text-300);
  @include description(2);

  @include for-tablet-portrait-up {
    @include description(3);
  }

  @include for-tablet-landscape-up {
    @include description(4);
  }

  * {
    color: inherit;
  }
}
