@import '../../../../globalStyles/config.scss';
@import './cardChartConfig.scss';

.wrapper {
  @include card-wrapper;

  a {
    overflow: hidden;
  }

  .imageWrapper {
    max-width: 11rem;
    flex: 1 0 80%;
    background: var(--color-original);
    @include image-with-aspect-ratio;
    @include zoom-image;
  }

  img {
    transition: all 0.3s ease-in-out;

    &.loaded {
      opacity: 1;
    }

    &.loading {
      opacity: 0;
    }
  }
}

.content {
  flex: 1 1 auto;
  display: grid;
  grid-template-rows: 1fr auto;
  min-height: 0;
}

.cardBody {
  position: relative;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  padding-left: var(--space-400);
}

.scrollWrapper {
  position: absolute;
}

.cardHeader {
  margin: var(--space-400);
  margin-left: 0;

  .score {
    display: none;
  }

  @include for-tablet-portrait-up {
    display: grid;
    grid-template-columns: 1fr auto;
    column-gap: var(--space-400);
    place-items: start;

    .score {
      display: grid;
      font-size: var(--text-size-300);
      column-gap: var(--space-100);
      grid-template-columns: auto auto;
      place-items: center;
    }
  }

  .title {
    width: 100%;
    .primaryTitle {
      font-size: var(--text-size-400);
      color: var(--color-text-100);
      @include add-ellipsis(2);
      font-weight: 550;
      cursor: pointer;

      &:hover,
      &:focus-within {
        a {
          text-decoration-color: inherit;
          color: var(--color-text);
        }
      }
      a {
        color: inherit;
        text-decoration-color: var(--b-6);
        text-underline-offset: var(--space-100);
        transition: all 0.15s ease-in-out;
      }
    }

    .secondaryTitle {
      font-weight: normal;
      font-size: var(--text-size-100);
      margin-top: var(--space-300);
      color: var(--color-text-200);
      @include add-ellipsis(1);
    }
  }
}

.genres {
  font-size: var(--text-size-200);
  padding: var(--space-300);
  background: var(--color-foreground-200);
}

.description {
  min-height: 0;
  margin-bottom: var(--space-400);
  padding-right: var(--space-500);
  font-size: var(--text-size-200);
  color: var(--color-text-300);
  @include add-ellipsis(3);

  @include for-phone-only {
    &:focus {
      display: block;
      color: var(--color-text-200);

      * {
        color: inherit;
      }
    }
  }

  @include for-tablet-portrait-up {
    @include add-ellipsis(4);

    &:hover {
      display: block;
      color: var(--color-text-200);

      * {
        color: inherit;
      }
    }
  }

  * {
    color: inherit;
  }
}
