@use '../../../../css/config.scss' as *;
@use './cardChartConfig.scss' as card-config;

.wrapper {
  @include card-config.card-wrapper;

  a {
    max-width: 11rem;
    flex: 0 0 42.5%;
  }
}

.content {
  flex: 1 1 auto;
  display: grid;
  grid-template-rows: 1fr auto;
  min-height: 0;

  &:hover {
    .description {
      display: block;
    }
  }
}

.cardBody {
  position: relative;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

.scrollWrapper {
  position: absolute;
  left: 0;
  right: 0;
  padding: var(--space-500);
}

.cardHeader {
  margin-bottom: var(--space-500);
  margin-left: 0;

  .score {
    display: none;
  }

  @include mq(above, sm) {
    display: grid;
    grid-template-columns: 1fr auto;
    column-gap: var(--space-400);
    place-items: start;

    .score {
      display: grid;
      font-size: var(--text-size-300);
      column-gap: var(--space-100);
      grid-template-columns: auto auto;
      place-items: center;
    }
  }

  .secondaryTitle {
    font-weight: 400;
    font-size: var(--text-size-200);
    margin-top: var(--space-200);
    color: var(--color-text-300);
    @include add-ellipsis(1);
  }
}

.genres {
  font-size: var(--text-size-200);
  padding: var(--space-300) var(--space-400);
  background: var(--color-foreground-200);
}

.description {
  font-size: var(--text-size-300);
  color: var(--color-text-300);
  @include description(2);

  @include mq(above, sm) {
    @include description(3);
  }

  * {
    color: inherit;
  }
}
