@import '../../../globalStyles/config.scss';

.dropdowns {
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(2, minmax(7rem, 1fr));
  @include for-tablet-landscape-up {
    grid-template-columns: repeat(4, minmax(7rem, 1fr));
  }
  row-gap: var(--space-500);
  column-gap: var(--space-600);
  place-items: center;
}
