@use '../../../../css/config.scss' as *;

.container {
  position: relative;
  max-height: 300px;
  overflow: hidden;

  @include mq(above, md) {
    &:hover {
      .toggleExpansion {
        color: inherit;
      }
    }
  }

  .description {
    @include gap($column: var(--space-400));

    a {
      color: var(--color-text-accent-100);

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .toggleExpansion {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    background: linear-gradient(to top, var(--color-background), transparent);
    transition: color ease-in-out 0.1s;
    padding: var(--space-400);

    @include mq(above, md) {
      color: transparent;
    }

    @include mq(above, md) {
      &:hover {
        color: var(--color-text-accent-200);
      }
    }
  }

  &.expanded {
    max-height: fit-content;

    .toggleExpansion {
      position: static;
      color: var(--color-text-accent-200);
    }
  }

  .spoiler {
    position: relative;
    cursor: pointer;
    width: fit-content;
    height: min-content;
    color: hsl(0, 69%, var(--lightness));

    & > span {
      display: none;
    }

    br {
      display: none;
    }

    &:after {
      content: 'Spoiler, click to view';
      display: block;
      color: var(--color-text-accent-100);
    }

    &.showSpoiler {
      &:after {
        display: none;
      }

      & > span {
        display: inline;
      }
    }
  }
}
