@import '../../../globalStyles/config.scss';

.wrapper {
  display: flex;
  align-items: center;
  font-size: 0.8rem;
  padding: 0.6em;
  border-radius: 0.2em;
  text-align: center;
  transition: all 0.075s ease-in-out;

  svg {
    transition: all 0.075s ease-in-out;
    margin-left: 0.5em;
    width: 0.75em;
    height: 0.75em;
  }

  &.primary {
    background: var(--color-foreground-accent-100);

    @include mouse-effects(110%, 120%);

    &:hover,
    &:focus {
      svg {
        margin-left: 0.5em;
        width: 0.75em;
      }
    }

    @include on-hoverable-devices {
      svg {
        width: 0;
        margin: 0;
      }

      &:hover {
        svg {
          margin-left: 0.5em;
          width: 0.75em;
        }
      }
    }
  }

  &.secondary {
    background: var(--color-foreground-200);
    color: var(--color-text-300);
    transition: all 0.075s ease-in-out;

    svg {
      margin-left: 0.5em;
    }
    @include mouse-effects;
  }
}
