@use '../../../css/config.scss' as *;

.container {
  @include gap($column: var(--space-600));

  .rankings {
    @include mq(below, md) {
      @include gap($column: var(--space-400));
    }

    @include mq(above, md) {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: var(--space-400);
    }
  }
}
