@import './config.scss';

@mixin grid-template {
  display: grid;
  grid-gap: var(--space-400);
  margin: 0 auto;
  margin-top: var(--space-300);
  place-content: center;
  justify-content: space-between;
  width: 100%;
}

@mixin grid-cover {
  grid-template-columns: repeat(auto-fit, minmax(6rem, 1fr));
  grid-gap: var(--space-500);
  @include for-tablet-portrait-up {
    grid-gap: var(--space-600);
    grid-template-columns: repeat(auto-fit, minmax(8.5rem, 1fr));
  }

  @include for-desktop-up {
    grid-template-columns: repeat(auto-fit, 10rem);
  }
}

@mixin grid-chart {
  grid-template-columns: 1fr;

  @include for-tablet-portrait-up {
    grid-template-columns: repeat(auto-fit, minmax(26rem, 1fr));
  }
}

@mixin grid-table {
  grid-template-columns: 1fr;
}
