@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');

@import './config.scss';

:root {
  --b-13: #080808;
  --b-12: #121212;
  --b-11: #1c1c1c;
  --b-10: #262626;
  --b-9: #2f2f2f;
  --b-8: #393939;
  --b-7: #434343;
  --b-6: #4d4d4d;
  --b-5: #575757;
  --b-4: #606060;
  --b-3: #6a6a6a;
  --b-2: #747474;
  --b-1: #7e7e7e;

  --w-13: #888888;
  --w-12: #929292;
  --w-11: #9b9b9b;
  --w-10: #a5a5a5;
  --w-9: #afafaf;
  --w-8: #b9b9b9;
  --w-7: #c3c3c3;
  --w-6: #cccccc;
  --w-5: #d6d6d6;
  --w-4: #e0e0e0;
  --w-3: #eaeaea;
  --w-2: #f4f4f4;
  --w-1: #fdfdfd;

  --cyan-12: #008c82;
  --cyan-11: #10948b;
  --cyan-10: #209d94;
  --cyan-9: #2fa59d;
  --cyan-8: #3faea6;
  --cyan-7: #4fb6af;
  --cyan-6: #76cbc6;
  --cyan-5: #8ad5d1;
  --cyan-4: #9ee0dc;
  --cyan-3: #b2eae7;
  --cyan-2: #c5f5f3;
  --cyan-1: #d9fffe;
}

html {
  font-family: 'Sora', sans-serif;
  font-weight: normal;
  overflow-x: hidden;
}
@media screen and (min-width: 320px) {
  html {
    font-size: calc(16px + 2 * ((100vw - 320px) / 680));
  }
}
@media screen and (min-width: 1000px) {
  html {
    font-size: 18px;
  }
}

* {
  color: var(--color-text-200);
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: inherit;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img {
  object-fit: cover;
  filter: brightness(0.95);
}

button {
  background: transparent;
  border: none;
  text-align: left;
}

body {
  overflow-x: hidden;
  &.dark {
    --color-background: var(--b-12);
    --color-foreground-50: var(--b-11);
    --color-foreground-100: var(--b-10);
    --color-foreground-200: var(--b-9);
    --color-foreground-300: var(--b-8);
    --color-foreground-400: var(--b-7);
    --color-foreground-accent-100: var(--cyan-9);
    --color-foreground-accent-200: var(--cyan-8);
    --color-text-100: var(--w-3);
    --color-text-200: var(--w-5);
    --color-text-300: var(--w-7);
    --color-text-accent-100: var(--cyan-4);
    --color-text-accent-200: var(--cyan-5);
    --color-border-100: var(--w-12);
    --color-border-200: var(--w-11);
    --color-underline-100: var(--b-2);
    --color-highlight-100: var(--b-8);
    --color-highlight-200: var(--b-7);
    --lightness: 75%;
  }

  &.light {
    --color-background: var(--w-5);
    --color-foreground-50: var(--w-4);
    --color-foreground-100: var(--w-3);
    --color-foreground-200: var(--w-2);
    --color-foreground-300: var(--w-1);
    --color-foreground-400: var(--w-1);
    --color-foreground-accent-100: var(--cyan-6);
    --color-foreground-accent-200: var(--cyan-7);
    --color-text-100: var(--b-12);
    --color-text-200: var(--b-10);
    --color-text-300: var(--b-8);
    --color-text-accent-100: var(--cyan-8);
    --color-text-accent-200: var(--cyan-9);
    --color-border-100: var(--b-2);
    --color-border-200: var(--b-1);
    --color-underline-100: var(--w-8);
    --color-highlight-100: var(--w-4);
    --color-highlight-200: var(--w-5);
    --lightness: 25%;
  }

  --header-height: 3rem;

  padding-top: var(--header-height);
  width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
  background: var(--color-background);
  line-height: 1.3;
}

#root {
  height: 100%;
  display: flex;
  flex-direction: column;
}

#container {
  --image-aspect-ratio: (2/3);

  margin: auto;
  padding: 2rem 7vw;
  width: 100%;
  max-width: 1200px;

  @include for-desktop-up {
    padding: 2rem;
  }
}
