@import './config.module.scss';

@mixin grid-template {
  display: grid;
  grid-gap: var(--space-400);
  margin: 0 auto;
  margin-top: var(--space-400);
  place-content: center;
  justify-content: space-evenly;
  max-width: 100%;
  width: 100%;
}

@mixin grid-cover {
  grid-gap: var(--space-500);
  grid-template-columns: repeat(auto-fill, minmax(calc(5rem + 8%), 1fr));
}

@mixin grid-chart {
  display: flex;
  flex-wrap: wrap;
  & > * {
    flex: 1 0 22.5rem;
    max-width: 100%;
  }
}

@mixin grid-table {
  grid-template-columns: 1fr;
}
