@import '../CardChart/cardConfig.scss';

.default {
  @include card-wrapper;
  .image {
    height: 100%;
    width: 100%;
    border-radius: 0;
  }

  .content {
    display: grid;
    grid-template-rows: 1fr auto;
  }

  .cardBody {
    padding-left: 1rem;
  }

  .header {
    margin: 1rem 0 1rem 0;
  }

  .title {
    width: 75%;
    height: 1.2rem;
    margin-bottom: 0.7rem;
  }

  .secondaryTitle {
    width: 60%;
    height: 0.8rem;
  }

  .description {
    margin-bottom: 0.7rem;
    height: 0.7rem;
    width: 85%;
  }

  .footer {
    background: #373737;
    overflow-x: scroll;
  }

  .genres {
    display: inline-grid;
    grid-template-columns: repeat(3, auto);
    align-content: start;
    column-gap: 0.7rem;
    padding: 0.4rem 0.6rem;
    font-size: 0.65rem;
  }

  .genre {
    height: $genre-height;
    border-radius: 1em;
    padding: 0 1rem;
    width: 15vw;
    max-width: 4.5rem;
  }
}

.simple {
  display: grid;
  grid-template-rows: auto auto;
  row-gap: 0.75rem;
  justify-items: center;
  align-items: start;

  * {
    width: 100%;
  }

  .imageWrapper {
    position: relative;
    display: block;
    width: 100%;
    padding: 0;
    padding-top: calc(100% / var(--image-aspect-ratio));
    border-radius: 0.15rem;
    overflow: hidden;
  }

  .image {
    position: absolute;
    display: block;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
  }

  .title {
    align-self: start;
    height: 0.8rem;
  }
}
