@mixin card-cover {
  display: grid;
  grid-template-rows: min-content auto;
  row-gap: var(--space-300);
  cursor: pointer;

  &:hover,
  &:focus-within {
    .title {
      color: var(--color-adjusted);
    }
  }
}
