@use '../../../../css/config.scss' as *;

.popoverWrapper {
  position: relative;
}

.container {
  display: grid;
  grid-template-rows: min-content auto;
  row-gap: var(--space-300);
  cursor: pointer;

  &:hover,
  &:focus-within {
    .title a {
      color: var(--color-adjusted);
    }
  }

  .rank {
    position: absolute;
    left: calc(-1 * var(--space-200));
    top: calc(-1 * var(--space-200));
    width: 2.75rem;
  }

  & > a {
    border-radius: 0.15em;
  }
}
