@import '../../../../globalStyles/config.scss';

.popoverWrapper {
  position: relative;
}

.wrapper {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-rows: min-content auto;
  cursor: pointer;

  @include on-hoverable-devices {
    &:hover {
      .title {
        text-decoration-color: inherit;
        color: var(--color-light);
      }
    }
  }

  .rank {
    position: absolute;
    left: -0.7em;
    top: -0.7em;
    background: var(--color-light);
    color: var(--color-foreground-300);
    z-index: 1000;
    font-size: 0.8em;
    width: 2.5em;
    height: 2.5em;
    line-height: 2.5em;
    text-align: center;
    border-radius: 1.25em;
    font-weight: 500;
  }

  .imageWrapper {
    @include image-with-aspect-ratio;
    border-radius: 0.15em;
    background: var(--color-original);

    &.loaded {
      .image {
        opacity: 1;
      }
    }

    &.loading {
      .image {
        opacity: 0;
      }
    }
  }

  .image {
    transition: all 0.3s ease-in-out;
  }

  .titleWrapper {
    align-self: stretch;
    text-align: left;
    width: 100%;
    max-width: 100%;
    height: fit-content;
    padding-top: 1em;
    @include add-ellipsis(2);
  }

  .title {
    color: var(--color-text-300);
    font-size: 0.7em;
    line-height: 1.2;
    font-weight: 550;
    color: inherit;
    transition: all 0.15s ease-in-out;
    text-decoration-color: inherit;
    text-underline-offset: 0.2em;
  }
}
