@use '../../../../css/config.scss' as *;

.popoverWrapper {
  position: relative;
}

.container {
  display: grid;
  grid-template-rows: min-content auto;
  row-gap: var(--space-300);
  cursor: pointer;

  &:hover,
  &:focus-within {
    .title a {
      color: var(--color-adjusted);
    }
  }

  .rank {
    --size: 2.5rem;
    background: var(--color-adjusted);
    color: var(--color-foreground-300);
    font-size: var(--text-size-400);
    font-weight: 500;
    @include mq(below, sm) {
      --size: 3.5rem;
      font-size: var(--text-size-500);
    }
    @include rank(
      $left: calc(-1 * var(--space-200)),
      $top: calc(-1 * var(--space-200)),
      $size: var(--size)
    );
  }

  .imageWrapper {
    @include aspect-ratio(var(--image-aspect-ratio));
    @include image-fade-in;
    border-radius: 0.15em;
    background: var(--color-original);
  }

  .image {
    transition: all 0.3s ease-in-out;
  }

  .title {
    font-size: var(--text-size-300);
  }
}
