.advancedFilters {
  display: flex;
  justify-content: flex-end;
  margin-bottom: var(--space-600);

  button {
    &:focus,
    &:hover {
      color: var(--color-text-accent-100);
      text-decoration: underline;
      text-underline-offset: 0.2em;
    }
  }
}
