@use '../../../css/config.scss' as *;

.container {
  .upperSection {
    padding-bottom: var(--space-500);
    flex-basis: 100%;
  }

  .extraOptions {
    display: flex;
    margin-left: auto;
    align-items: center;
    justify-content: flex-end;

    .gridType {
      display: flex;
      padding: 0 calc(var(--space-200) * -1);
      padding-right: var(--space-300);
      margin-right: var(--space-300);
      align-items: center;
      justify-content: center;
      cursor: pointer;
      border-right: solid 1px var(--color-border-200);
    }
  }

  .mainContent {
    @include mq(above, md) {
      display: grid;
      grid-template-columns: auto 1fr;
      column-gap: var(--space-500);
    }
  }
}
