@use '../../../css/config.scss' as *;

.content {
  margin-bottom: var(--space-400);
  @include mq(above, lg) {
    margin-bottom: var(--space-700);
  }
}

.title {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
  margin-bottom: var(--space-200);

  & > * {
    cursor: pointer;
  }

  .contentTitle {
    @include mouse-effects(
      var(--color-text-accent-100),
      var(--color-text-accent-200),
      txt
    );
  }

  .viewAll {
    font-size: var(--text-size-200);
    color: var(--color-text-200);
    &:hover {
      color: var(--color-text-100);
      text-decoration: underline;
    }
  }
}
