@use '../../../css/config.scss' as *;

.tabs {
  display: flex;
  @include gap(var(--space-300));
  overflow-x: auto;
  margin-top: var(--space-600);
  padding-bottom: var(--space-400);

  @include mq(above, md) {
    margin-top: var(--space-400);
    justify-content: space-evenly;
  }

  .tab {
    --border-height: 100%;
    --border-width: 60%;
    --border-thickness: 1px;
    position: relative;
    padding: var(--space-100) var(--space-300);

    &:before,
    &:after {
      content: '';
      position: absolute;
      display: block;
      background-color: var(--color-border-100);
    }

    &:before {
      top: calc((50% + var(--border-height) / 2));
      bottom: calc((100% - var(--border-height)) / 2);
      left: 0;
      width: var(--border-thickness);
      transition: top 0.125s ease-in-out;
      transition-delay: 0.15s;
    }

    &:after {
      left: calc((100% - var(--border-width)) / 2);
      right: calc((100% - var(--border-width)) / 2);
      bottom: 0;
      margin: auto;
      height: var(--border-thickness);
      transition: right 0.125s ease-in-out;
    }

    &:hover {
      &:before {
        top: calc((100% - var(--border-height)) / 2);
        background-color: var(--primary-400);
      }
      &:after {
        right: calc((50% + var(--border-width) / 2));
      }
    }
  }
}
