@import '../../../globalStyles/config.scss';

.switch {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 1em;
  border-radius: 1.25em;
  cursor: pointer;
  padding: 0.5em;
  width: 2.5em;
  height: 2.5em;
  @include mouse-effects;
  &:focus-within {
    background: var(--color-highlight-100);
  }

  #checkbox {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    pointer-events: none;
  }

  svg {
    width: 100%;
    height: 100%;
    vertical-align: middle;
  }
}
