.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.main {
  font-size: var(--text-size-400);
}

.sub {
  font-size: var(--text-size-300);
  font-weight: 350;
  color: var(--color-text-200);
}
