.footer {
  width: 100%;
  margin-top: calc(2 * var(--space-700));

  a {
    text-decoration: none;
    &:hover,
    &:focus {
      color: var(--color-text-accent-100);
      text-decoration-color: var(--color-text-accent-100);
    }
  }
}

.upperSection {
  display: flex;
}

.theme {
  margin-right: auto;
  display: flex;

  & > button {
    display: flex;
    align-items: flex-end;
    width: 2.2rem;
    height: 2.2rem;
    padding: var(--space-100);
    line-height: 1;
    border: solid 2px;
    border-radius: 0.2em;
    transition: all 0.1s ease-in-out;
    &:hover,
    &:focus {
      border-color: var(--color-text-accent-200);
    }
  }

  .light {
    background: var(--white-400);
    color: var(--black-200);
    border-color: var(--black-800);
  }

  .dark {
    background: var(--black-100);
    color: var(--white-400);
    border-color: var(--white-100);
    margin-left: var(--space-400);
  }
}

.disclaimer {
  font-size: var(--text-size-300);
  font-weight: 550;
  margin-top: var(--space-500);
  text-align: right;

  a {
    text-decoration: underline;
    text-decoration-color: var(--color-underline-100);
  }
}
