@use '../../../css/config.scss' as *;

.container {
  display: flex;
  flex-direction: column;
  @include gap($column: var(--space-400));

  .loadMore {
    background: var(--color-foreground-200);
    margin: auto;
    padding: var(--space-300) var(--space-400);
    border-radius: 0.25rem;

    &:hover,
    &:focus {
      background: var(--color-foreground-300);
    }
    &:active {
      background: var(--color-foreground-200);
    }
  }
}
