@use '../../../css/config.scss' as *;

.container {
  display: flex;
  flex-direction: column;

  @include mq(below, md) {
    @include gap($column: var(--space-400));
  }

  @include mq(above, md) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: var(--space-400) var(--space-500);
  }
}
