@use '../../../css/config.scss' as *;

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: min-content;
  @include gap($column: var(--space-500));
}

.people {
  display: grid;

  @include mq(below, md) {
    row-gap: var(--space-400);
  }

  @include mq(above, md) {
    grid-template-columns: 1fr 1fr;
    gap: var(--space-400) var(--space-500);
  }
}
