@use '../../../../css/config.scss' as *;

.container {
  font-size: var(--text-size-300);
  @include gap($column: var(--space-400));

  .heading {
    font-size: var(--text-size-400);
  }

  .tags {
    @include gap($column: var(--space-400));
  }

  .tag {
    background: var(--color-foreground-50);
    padding: var(--space-300);
    border-radius: 0.2rem;

    & > a {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    &.spoiler {
      color: hsl(0, 69%, var(--lightness));
    }
  }

  .tagName,
  .button {
    &:hover,
    &:focus {
      color: var(--color-text-accent-100);
    }
  }
}
