@use '../../../../../css/config.scss' as *;

.link {
  color: var(--color-text-100);
  text-decoration-color: var(--black-600);
  text-underline-offset: var(--space-100);
  @include add-ellipsis(2);
  font-weight: 550;
  cursor: pointer;
  transition: all 0.15s ease-in-out;

  &:hover,
  &:focus {
    color: var(--color-text);
    text-decoration-color: inherit;
  }
}
