.container {
  display: flex;
  align-items: center;
  background: var(--color-foreground-100);
  font-size: var(--text-size-300);
  padding: var(--space-300) var(--space-400);
  border-radius: 0.25rem;
  text-transform: capitalize;

  .star {
    fill: hsl(34, 90%, 69%);
  }

  .heart {
    fill: hsl(340, 75%, 69%);
  }

  & > svg {
    margin-right: auto;
  }

  .context {
    flex: 1;
    text-align: center;
  }
}
