@use '../../../css/config.scss' as *;

.container {
  flex-shrink: 0;
  display: flex;

  &.collapsed {
    @include mq(above, md) {
      position: relative;

      &:hover {
        .content {
          opacity: 1;
        }

        .label {
          opacity: 0;
        }
      }

      .label,
      .content {
        transition: opacity 0.15s ease-in-out;
      }

      .label {
        display: block;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        @include padding-vertical(var(--space-300));
        text-align: center;
        font-size: var(--text-size-300);
        text-transform: capitalize;
        pointer-events: none;
        z-index: 2;

        & > span {
          @include padding-horizontal(var(--space-300));
        }

        &:before {
          content: '';
          position: absolute;
          display: block;
          top: 0;
          bottom: 0;
          width: 100%;
          background: var(--color-foreground-200);
          opacity: 0.8;
          z-index: -1;
        }
      }

      .content {
        opacity: 0;
        pointer-events: none;
        position: absolute;
        left: var(--image-width);
        width: 20rem;
        height: calc(var(--image-width) / var(--image-aspect-ratio));
        z-index: 3;

        &.left {
          left: auto;
          right: var(--image-width);
          border-top-left-radius: 0.25rem;
          border-bottom-left-radius: 0.25rem;
        }

        .right {
          border-top-right-radius: 0.25rem;
          border-bottom-right-radius: 0.25rem;
        }
      }
    }
  }

  .imageWrapper {
    overflow: hidden;

    & > span,
    img {
      width: var(--image-width);
      height: calc(var(--image-width) / var(--image-aspect-ratio));
    }
  }

  .label {
    display: none;
  }

  .content {
    flex: 1;
    display: flex;
    flex-direction: column;
    background: var(--color-foreground-50);
    padding: var(--space-400) var(--space-600) var(--space-400) var(--space-400);
  }

  .relationType,
  .info {
    font-size: var(--text-size-300);
  }

  .relationType {
    color: var(--color-text-accent-100);
    text-transform: capitalize;
  }

  .title {
    @include add-ellipsis(2);
    margin-top: var(--space-200);

    &:hover,
    &:focus-within {
      & > a {
        color: var(--color-text-accent-100);
      }
    }
  }

  .info {
    margin-top: auto;
    padding-top: var(--space-200);
    & > * {
      text-transform: capitalize;
    }
  }
}
