@use '../../../css/config.scss' as *;

.wrapper {
  flex-shrink: 0;
  display: flex;
  background: var(--color-foreground-50);

  .imageWrapper {
    img {
      width: 6.5rem;
    }
  }

  .content {
    display: flex;
    flex-direction: column;
    padding: var(--space-400) var(--space-600) var(--space-400) var(--space-400);
  }

  .relationType,
  .info {
    font-size: var(--text-size-300);
  }

  .relationType {
    color: var(--color-text-accent-100);
  }

  .title {
    @include add-ellipsis(2);
    margin-top: var(--space-200);
    margin-bottom: var(--space-500);
    flex: 1;
  }
}
