@use '../../../css/config.scss' as *;

.wrapper {
  flex-shrink: 0;
  display: flex;
  width: 100%;
  background: var(--color-foreground-50);

  .imageWrapper {
    position: relative;
    span,
    img {
      width: 6.5rem;
    }
    img {
      position: absolute;
      height: 100%;
      top: 0;
    }
  }

  .content {
    display: flex;
    flex-direction: column;
    padding: var(--space-400) var(--space-600) var(--space-400) var(--space-400);
  }

  .relationType,
  .info {
    font-size: var(--text-size-300);
  }

  .relationType {
    color: var(--color-text-accent-100);
  }

  .title {
    @include add-ellipsis(2);
    margin: var(--space-200) 0;
    flex: 1;
  }
}
