@use '../../../../../css/config.scss' as *;

.container {
  @include aspect-ratio(1);
  width: 100%;
  border-radius: 50%;
  background-color: var(--color-adjusted);
  font-weight: 500;
  z-index: 999;

  .text {
    display: flex;
    justify-content: center;
    place-items: center;
    text-align: center;

    & > * {
      color: var(--color-foreground-300);
    }
  }

  .hash {
    margin-right: 0.1ch;
  }
}
