@use '../../../css/config.scss' as *;

.container {
  display: grid;
  height: fit-content;
  justify-items: center;
  position: relative;

  .pages {
    display: flex;
    margin: var(--space-700) 0;
  }

  .page {
    background: var(--color-foreground-200);
    font-weight: 500;
    padding: var(--space-300) var(--space-400);
    margin-right: var(--space-400);
    transition: 0.05s all ease-in-out;
    border-radius: 0.1em;

    @include mouse-effects(
      var(--color-foreground-300),
      var(--color-foreground-400),
      bg
    );

    &:last-child {
      margin-right: 0;
    }

    &.current {
      background: var(--color-foreground-400);
      color: var(--colo-text-300);
    }
  }

  .fetchingIndicator {
    @keyframes progress-before {
      0% {
        left: -50%;
        width: 50%;
      }

      100% {
        left: 200%;
        width: 50%;
      }
    }

    @keyframes progress-after {
      0% {
        left: -100%;
        width: 50%;
      }

      100% {
        left: 150%;
        width: 50%;
      }
    }

    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 0.1rem;
    background-color: var(--white-300);
    pointer-events: none;
    z-index: 9999;

    &::before {
      content: '';
      display: block;
      width: 0;
      height: 100%;
      position: absolute;
      background-color: var(--primary-300);
      animation: progress-before infinite 2s ease-out;
    }

    &::after {
      content: '';
      display: block;
      width: 0;
      height: 100%;
      position: absolute;
      background-color: var(--primary-300);
      animation: progress-after infinite 2s ease-in;
    }
  }
}
