@use '../../../css//config.scss' as *;
@use '../../common/Cards/CardCover/cardCoverTemplate.module.scss' as card-cover;

.container {
  @include gap($column: var(--space-600));

  .relations {
    --image-width: 6.5rem;
    @include mq(below, md) {
      display: flex;
      overflow-x: auto;
      @include gap($row: var(--space-400));

      & > * {
        max-width: 90vw;
      }
    }

    @include mq(above, md) {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: var(--space-400) var(--space-500);

      &.collapsed {
        grid-template-columns: repeat(auto-fit, var(--image-width));
      }
    }
  }

  .stats {
    @include mq(below, md) {
      @include gap($column: var(--space-600));
    }

    @include mq(above, md) {
      display: grid;
      grid-template-columns: 1fr 1fr;
      column-gap: var(--space-500);

      & > *:first-child {
        display: flex;
        flex-direction: column;
      }
    }
  }

  .watch {
    display: flex;
    @include gap($row: var(--space-400));
    overflow-x: auto;

    & > *:nth-child(3),
    & > *:nth-child(4) {
      display: none;
    }
  }

  .trailer {
    @include aspect-ratio(5/3);
    width: 100%;

    @include mq(above, md) {
      @include aspect-ratio(2);
    }
  }

  .recommendations {
    .cardCover {
      @include card-cover.card-cover;
      font-size: var(--text-size-300);
    }

    @include mq(below, md) {
      display: flex;
      overflow-x: auto;
      @include gap($row: var(--space-400));

      .cardCover {
        flex-basis: 40%;
        flex-shrink: 0;
      }
    }

    @include mq(above, md) {
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      gap: var(--space-500);

      .cardCover {
        width: 100%;
      }
    }
  }

  .reviews {
    @include mq(below, md) {
      @include gap($column: var(--space-400));
    }

    @include mq(above, md) {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: var(--space-500);
    }
  }
}
