@use '../../../css//config.scss' as *;
@use '../../common/Cards/CardCover/cardChartTemplate.module.scss' as card-cover;

.container {
  @include gap($column: var(--space-600));

  .relations {
    --image-width: 6.5rem;
    @include mq(below, md) {
      display: flex;
      overflow-x: auto;
      @include gap($row: var(--space-400));

      & > * {
        max-width: 90vw;
      }
    }

    @include mq(above, md) {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: var(--space-400) var(--space-500);

      &.collapsed {
        grid-template-columns: repeat(auto-fit, var(--image-width));
      }
    }
  }

  .watch {
    display: flex;
    @include gap($row: var(--space-400));
    overflow-x: auto;

    & > *:nth-child(3),
    & > *:nth-child(4) {
      display: none;
    }
  }

  .trailer {
    @include aspect-ratio(5/3);
    width: 100%;
  }

  .recommendations {
    display: flex;
    overflow-x: auto;
    @include gap($row: var(--space-400));

    .cardCover {
      flex-basis: 40%;
      flex-shrink: 0;
      @include card-cover.card-cover;
    }
  }

  .reviews {
    @include gap($column: var(--space-400));
  }
}
