.genre {
  display: flex;
  align-items: center;
  font-size: inherit;
  color: inherit;
  padding: 0.5em 1em;
  background: var(--color-foreground-100);
  border-radius: 0.75em;
  border: solid 0.9px var(--color-border-200);
  cursor: pointer;
  white-space: nowrap;
  transition: all 0.1s ease-in-out;

  &:hover {
    color: var(--color-text-accent-200);
    border-color: var(--color-border-100);
  }
}
