@import '../../globalStyles/variablesAndMixins.scss';

.wrapper {
  position: fixed;
  width: 100vw;
  display: flex;
  padding: 0 1rem;
  align-items: center;
  justify-content: space-between;
  border-bottom: solid 0.3px #7e7e7e;
  height: $header-height;
  background: #121212;
  transition: all 0.2s ease-in-out;
  z-index: 999;
  top: -$header-height;

  &.visible {
    top: 0;
  }
}

.heading {
  margin-right: 1rem;
  font-size: 1rem;
}
