@use '../../../css/config.scss' as *;

body.search-options-open {
  overflow-y: hidden;
  height: 100vh;
  position: fixed;
}

.container {
  display: grid;
  grid-template-rows: auto 1fr;

  &.active {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: var(--color-background);
    height: 100vh;
    z-index: 9999;
  }
}

.filterOptions {
  display: flex;
  overflow-x: auto;
  background: var(--color-foreground-50);
  @include padding-on-scroll-element($row: var(--space-400));
  @include padding-vertical(var(--space-300));
  @include gap($row: var(--space-400));

  &.vertical {
    @include mq(above, md) {
      display: grid;
      row-gap: var(--space-500);
      padding-right: var(--space-600);
      background: inherit;
      overflow: hidden;
      border-right: solid 1px var(--color-border-200);
      font-size: var(--text-size-300);

      &::after {
        display: none;
      }
    }
  }
}

.filterOption {
  display: flex;
  align-items: center;
  background: var(--color-foreground-100);
  padding: var(--space-200) var(--space-300);
  border-radius: 0.2em;

  &.active {
    .text {
      color: var(--color-text-accent-100);
    }
    svg {
      fill: var(--color-text-accent-100);
    }
  }

  .text {
    margin-right: var(--space-100);
  }
}

.filterOptions.vertical .filterOption {
  @include mq(above, md) {
    background: transparent;
    font-weight: 500;
    padding: 0;
    margin: 0;
    margin-bottom: var(--space-400);

    svg {
      display: none;
    }
  }
}

.options {
  display: none;
  @include mq(above, md) {
    display: grid;
    row-gap: var(--space-300);
  }
}

.showMore {
  margin-top: var(--space-400);
  font-size: var(--text-size-300);
  color: var(--color-text-accent-200);
  width: fit-content;

  @include mouse-effects(underline, var(--color-text-accent-100), txt);
}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--color-foreground-50);
  padding: var(--space-300) var(--space-500);
}

.applyFilter {
  background-color: var(--color-foreground-100);
  padding: var(--space-200) var(--space-400);
}

.close {
  vertical-align: middle;
}
