@import '../../../globalStyles/config.module.scss';

.wrapper {
  z-index: 1000;
  position: absolute;
  opacity: 1;
  transition: all 0.2s ease-in-out;
  transform: translateY(0.3rem);
  max-height: 15rem;
  min-width: 8rem;
  max-width: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  background: var(--color-foreground-200);
  border-radius: 0.2rem;

  &.hide {
    opacity: 0;
    pointer-events: none;
  }
}

.option {
  width: 100%;
  font-size: 0.8rem;
  margin-top: 0.5em;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  cursor: pointer;
  transition: all 0.05s ease-in-out;
  z-index: 1000;

  & > div {
    flex: 1;
  }

  button {
    width: 100%;
    max-width: 100%;
    padding: 0.75em 1.25em;
    line-height: 1.5;
  }

  @include mouse-effects;
  @include on-hoverable-devices {
    &:hover {
      span {
        color: var(--color-text-accent-200);
      }
    }
  }

  &:active {
    background: var(--color-highlight-200);
  }

  &:last-child {
    margin-bottom: 0.5em;
  }
}

.iconWrapper {
  display: inline-flex;
  vertical-align: middle;
  margin-left: 0.2rem;
  opacity: 1;
  svg {
    display: inline-block;
    vertical-align: middle;
    fill: var(--color-text-accent-100);
  }
  &.hide {
    opacity: 0;
  }
}
