@import '../../globalStyles/config.scss';

.upperSection {
  padding: 1.5rem 0;
}

.extraOptions {
  display: flex;
  margin-left: auto;
  align-items: center;
  justify-content: flex-end;

  .gridType {
    display: flex;
    padding: 0 -0.25em;
    padding-left: 0.35em;
    margin-left: 0.35em;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-left: solid 1px var(--color-border-200);
  }
}

.searchDetails {
  margin-top: 0.5rem;
  * {
    color: inherit;
  }

  .resultsFor {
    font-weight: normal;
    word-wrap: break-word;
    margin-bottom: 0.25rem;
  }

  .searchText {
    font-weight: bold;
  }

  .clearSearch {
    font-size: 0.8rem;
    text-decoration: underline;
    text-decoration-color: var(--gray-600);
    text-underline-offset: 0.2em;
    transition: text-decoration-color 0.15s ease-in-out;

    @include on-hoverable-devices {
      &:hover {
        text-decoration-color: inherit;
      }
    }
  }
}
