@import '../../css/config.scss';

.upperSection {
  padding: 1.5rem 0;
}

.extraOptions {
  display: flex;
  margin-left: auto;
  align-items: center;
  justify-content: flex-end;

  .gridType {
    display: flex;
    padding: 0 -0.25em;
    padding-left: 0.35em;
    margin-left: 0.35em;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-left: solid 1px var(--color-border-200);
  }
}
