.wrapper {
  padding-top: 2rem;
  padding: 0 8rem;
}

.dropdowns {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.sortBy {
  margin: 0.8rem 0;
  margin-left: 87%;
}
