@import '../CardChart/cardChartConfig.scss';

.chart {
  @include card-wrapper;
  .image {
    position: relative;
    width: 100%;
    height: 0;
    padding: 0;
    padding-top: calc(100% / var(--image-aspect-ratio));
    overflow: hidden;
    border-radius: 0;
  }

  .content {
    display: grid;
    grid-template-rows: 1fr auto;
  }

  .cardBody {
    padding-left: 1rem;
  }

  .header {
    margin: 1rem 0 1rem 0;
  }

  .title {
    width: 75%;
    height: 1.2rem;
    margin-bottom: 0.7rem;
  }

  .secondaryTitle {
    width: 60%;
    height: 0.8rem;
  }

  .description {
    margin-bottom: 0.7rem;
    height: 0.7rem;
    width: 85%;
  }

  .footer {
    background: var(--color-foreground-100);
    overflow-x: scroll;
  }

  .genres {
    display: inline-grid;
    grid-template-columns: repeat(3, auto);
    align-content: start;
    column-gap: 0.7rem;
    padding: 0.4rem 0.6rem;
    font-size: 0.65rem;
  }

  .genre {
    height: var(--genre-height);
    border-radius: 1em;
    padding: 0 1rem;
    width: 15vw;
    max-width: 4.5rem;
  }
}

.cover {
  display: grid;
  grid-template-rows: auto auto;
  row-gap: 0.75rem;
  justify-items: center;
  align-items: start;

  * {
    width: 100%;
  }

  .imageWrapper {
    position: relative;
    display: block;
    width: 100%;
    padding: 0;
    padding-top: calc(100% / var(--image-aspect-ratio));
    border-radius: 0.15rem;
    overflow: hidden;
  }

  .image {
    position: absolute;
    display: block;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
  }

  .title {
    align-self: start;
    height: 0.8rem;
  }
}

.table {
  display: block;
  column-gap: 0.8em;
  padding: 0.8em;
  font-size: 0.85rem;
  border-radius: 0.2em;
  background: var(--color-foreground-100);

  .imageWrapper {
    display: none;
  }

  .content {
    overflow: hidden;
  }

  .header {
    margin-right: auto;
    width: 65%;
  }

  .title {
    margin-bottom: 1em;
    a {
      display: block;
      margin-bottom: 0.5em;
      overflow: hidden;
    }
  }

  .genres {
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    font-size: 0.7em;
    height: 2.5em;
    margin-bottom: 1em;

    .genre {
      width: 6em;
      height: 2.5em;
      margin-bottom: 1em;
      margin-right: 1em;
    }
  }

  .row {
    display: inline-block;
    margin: 1em 0;
    margin-right: 1em;
    width: 25%;
    font-size: 1.2em;
  }

  .subRow {
    display: inline-block;
  }

  @include for-tablet-landscape-up {
    display: grid;
    grid-template-columns: 3.25rem 1fr;

    .content {
      display: grid;
      grid-template-columns: 1fr 8rem 8rem 10rem;
      align-items: center;
      max-width: 100%;
      padding-right: 2em;
    }

    .header {
      width: 70%;
    }

    .title {
      height: min-content;
      margin: 0;
      margin-bottom: 1em;
    }

    .imageWrapper {
      position: relative;
      display: block;
      width: 100%;
      padding: 0;
      padding-top: calc(100% / var(--image-aspect-ratio));
      border-radius: 0.15rem;
      overflow: hidden;
    }

    .image {
      position: absolute;
      display: block;
      left: 0;
      top: 0;
      height: 100%;
      width: 100%;
    }

    .row {
      display: flex;
      flex-direction: column;
      margin: 0;
      width: 70%;
    }

    .subRow {
      width: 100%;
      color: var(--color-text-100);
      font-size: 0.6em;
      margin-top: 0.5em;
    }
  }
}
