@use '../../../../css/config.scss' as *;
@use '../CardChart/cardChartConfig.scss' as card-config;

.genre {
  &#{&} {
    border-radius: 0.75em;
  }
}

.chart {
  @include card-config.card-wrapper;
  .imageWrapper {
    position: relative;
    width: 45%;
    max-width: 11rem;
    padding: 0;
    padding-top: calc((min(45%, 11rem)) / var(--image-aspect-ratio));
    height: 0;
    overflow: hidden;
    border-radius: 0;

    .image {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
    }
  }

  .content {
    flex: 1 1 auto;
    display: grid;
    grid-template-rows: 1fr auto;
  }

  .cardBody {
    padding-left: var(--space-400);
  }

  .header {
    margin: var(--space-400) 0 var(--space-400) 0;
  }

  .title {
    width: 75%;
    height: 1.2rem;
    margin-bottom: var(--space-300);
  }

  .secondaryTitle {
    width: 60%;
    height: 0.8rem;
  }

  .description {
    height: 0.4rem;
    width: 85%;
  }

  .footer {
    padding: var(--space-200) var(--space-300) 0.6rem;
    background: var(--color-foreground-200);
    font-size: var(--text-size-200);
  }

  .genre {
    height: 2.5em;
    padding: 0 var(--space-200);
    margin-right: var(--space-300);
    width: 15vw;
    max-width: 4.5rem;
  }
}

.cover {
  display: grid;
  grid-template-rows: auto auto;
  row-gap: 0.75rem;
  justify-items: center;
  align-items: start;

  * {
    width: 100%;
  }

  .imageWrapper {
    position: relative;
    display: block;
    width: 100%;
    padding: 0;
    padding-top: calc(100% / var(--image-aspect-ratio));
    border-radius: 0.15rem;
    overflow: hidden;
  }

  .image {
    position: absolute;
    display: block;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
  }

  .title {
    align-self: start;
    height: 0.8rem;
  }
}

.table {
  display: grid;
  grid-template-columns: 3.5rem 1fr;
  column-gap: var(--space-300);
  padding: var(--space-400);
  font-size: var(--text-size-400);
  border-radius: 0.2em;
  background: var(--color-foreground-100);

  .content {
    display: grid;
    grid-template-columns: minmax(0, 1fr) 6rem 6rem 12rem;
    column-gap: var(--space-500);
    padding-left: var(--space-500);
  }

  .header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    flex: 1 0 auto;
  }

  .title {
    width: 70%;
    margin: 0;
  }

  .genres {
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    font-size: var(--text-size-200);

    .genre {
      width: 6em;
      height: 2.5em;
      margin-right: var(--space-300);
    }
  }

  .imageWrapper {
    position: relative;
    display: block;
    width: 100%;
    padding: 0;
    padding-top: calc(100% / var(--image-aspect-ratio));
    border-radius: 0.15rem;
    overflow: hidden;
  }

  .image {
    position: absolute;
    display: block;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
  }

  .row {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
  }

  .subRow {
    width: 100%;
    color: var(--color-text-100);
    font-size: var(--text-size-300);
    margin-top: var(--space-200);
  }
}
