@use 'sass:map';
@use 'sass:color';

$-monochrome-colors: (
  'black': (
    'hsl': hsl(0, 0%, 5%),
    'precision': 5%,
  ),
  'white': (
    'hsl': hsl(0, 0%, 75%),
    'precision': 2.5%,
  ),
);

$-other-colors: (
  'primary': (
    'hsl': hsl(169, 36%, 10%),
    'precision': 7.5%,
  ),
);

:root {
  @each $key, $val in map.merge($-monochrome-colors, $-other-colors) {
    @for $i from 1 to 10 {
      --#{$key}-#{$i * 100}: #{color.adjust(
          $color: map.get($val, 'hsl'),
          $lightness: $i * map.get($val, 'precision')
        )};
    }
  }
}
