@use './config.scss';
@use './colors.scss';
@use './spacing.scss';
@use './typography.scss';

@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');

html {
  font-family: 'Sora', sans-serif;
  font-weight: normal;
  overflow-x: hidden;
  font-size: clamp(0.9rem, calc(0.2rem + 1.3vw), 1.1rem);
}

* {
  color: var(--color-text-200);
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: inherit;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img {
  object-fit: cover;
  filter: brightness(0.95);
  color: var(--black-900);
}

button {
  color: inherit;
  background: transparent;
  border: none;
  text-align: left;
}

body {
  overflow-x: hidden;
  font-size: var(--text-size-400);

  &.dark {
    --color-background: var(--dark-100);
    --color-foreground-50: var(--dark-200);
    --color-foreground-100: var(--dark-300);
    --color-foreground-200: var(--dark-400);
    --color-foreground-300: var(--dark-500);
    --color-foreground-400: var(--dark-600);
    --color-foreground-accent-100: var(--primary-500);
    --color-foreground-accent-200: var(--primary-600);
    --color-foreground-accent-300: var(--primary-700);
    --color-text-100: var(--white-500);
    --color-text-200: var(--white-400);
    --color-text-300: var(--white-300);
    --color-text-accent-100: var(--primary-800);
    --color-text-accent-200: var(--primary-600);
    --color-text-accent-300: var(--primary-400);
    --color-border-100: var(--white-200);
    --color-border-200: var(--white-100);
    --color-underline-100: var(--black-900);
    --highlight-100: 120%;
    --highlight-200: 140%;
    --color-shadow: var(--black-200);
    --lightness: 75%;
  }

  &.light {
    --color-background: var(--light-900);
    --color-foreground-50: var(--light-800);
    --color-foreground-100: var(--light-700);
    --color-foreground-200: var(--light-600);
    --color-foreground-300: var(--light-500);
    --color-foreground-400: var(--light-400);
    --color-foreground-accent-100: var(--primary-400);
    --color-foreground-accent-200: var(--primary-300);
    --color-foreground-accent-300: var(--primary-200);
    --color-text-100: var(--black-100);
    --color-text-200: var(--black-200);
    --color-text-300: var(--black-300);
    --color-text-accent-100: var(--primary-100);
    --color-text-accent-200: var(--primary-300);
    --color-text-accent-300: var(--primary-500);
    --color-border-100: var(--black-800);
    --color-border-200: var(--black-900);
    --color-underline-100: var(--white-600);
    --highlight-100: 90%;
    --highlight-200: 80%;
    --color-shadow: var(--black-900);
    --lightness: 42%;
  }

  --image-aspect-ratio: (2/3);

  width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
  background: var(--color-background);
  line-height: 1.75;
}

#root {
  height: 100%;
  display: flex;
  flex-direction: column;
}

#container {
  margin: auto;
  padding: var(--space-500) var(--space-400);
  width: 100%;
  max-width: 1200px;

  @include config.for-desktop-up {
    padding: var(--space-500);
  }
}
