@use './config.scss';
@use './colors.scss';
@use './spacing.scss';
@use './typography.scss';
@use 'sass:math';

@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');

html {
  font-family: 'Sora', sans-serif;
  font-weight: normal;
  font-size: 80%;

  @include config.mq(above, sm) {
    font-size: 90%;
  }

  @include config.mq(above, md) {
    font-size: 100%;
  }
}

* {
  color: inherit;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: inherit;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img {
  object-fit: cover;
  filter: brightness(0.95);
  color: var(--black-900);
}

button {
  color: inherit;
  background: transparent;
  border: none;
  text-align: left;
}

a {
  text-decoration: none;
}

body {
  &.dark {
    --color-background: var(--black-100);
    --color-foreground-50: var(--black-200);
    --color-foreground-100: var(--black-300);
    --color-foreground-200: var(--black-400);
    --color-foreground-300: var(--black-500);
    --color-foreground-400: var(--black-600);
    --color-foreground-accent-100: var(--primary-600);
    --color-foreground-accent-200: var(--primary-700);
    --color-foreground-accent-300: var(--primary-800);
    --color-text-100: var(--white-700);
    --color-text-200: var(--white-600);
    --color-text-300: var(--white-500);
    --color-text-400: var(--white-400);
    --color-text-500: var(--white-300);
    --color-text-invert-100: var(--black-100);
    --color-text-invert-200: var(--black-200);
    --color-text-invert-300: var(--black-300);
    --color-text-accent-100: var(--primary-800);
    --color-text-accent-200: var(--primary-600);
    --color-text-accent-300: var(--primary-400);
    --color-border-100: var(--white-200);
    --color-border-200: var(--white-100);
    --color-underline-100: var(--black-900);
    --highlight-100: 120%;
    --highlight-200: 140%;
    --color-shadow: var(--black-600);
    --lightness: 80%;
  }

  &.light {
    --color-background: var(--white-400);
    --color-foreground-50: var(--white-500);
    --color-foreground-100: var(--white-600);
    --color-foreground-200: var(--white-700);
    --color-foreground-300: var(--white-800);
    --color-foreground-400: var(--white-900);
    --color-foreground-accent-100: var(--primary-500);
    --color-foreground-accent-200: var(--primary-600);
    --color-foreground-accent-300: var(--primary-700);
    --color-text-100: var(--black-100);
    --color-text-200: var(--black-200);
    --color-text-300: var(--black-300);
    --color-text-400: var(--black-200);
    --color-text-500: var(--black-100);
    --color-text-invert-100: var(--white-600);
    --color-text-invert-200: var(--white-500);
    --color-text-invert-300: var(--white-400);
    --color-text-accent-100: var(--primary-200);
    --color-text-accent-200: var(--primary-400);
    --color-text-accent-300: var(--primary-600);
    --color-border-100: var(--black-800);
    --color-border-200: var(--black-900);
    --color-underline-100: var(--white-100);
    --highlight-100: 90%;
    --highlight-200: 80%;
    --color-shadow: var(--black-900);
    --lightness: 32%;
  }

  --image-aspect-ratio: #{math.div(2, 3)};

  font-size: var(--text-size-400);
  width: 100vw;
  min-height: 100vh;
  background: var(--color-background);
  line-height: 1.75;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  color: var(--color-text-200);
}

.ct-labels {
  width: 100%;
  height: 100%;
}

.ct-label {
  color: var(--color-text-200);
  fill: var(--color-text-200);
  font-size: inherit;
  align-self: flex-end;
}

.ct-series-a .ct-bar,
.ct-series-a .ct-line,
.ct-series-a .ct-point,
.ct-series-a .ct-slice-donut {
  stroke: var(--color-text-accent-200);
}

.ct-grid {
  stroke: var(--color-text-accent-300);
}
