@use './config.scss' as *;

@mixin grid-template {
  display: grid;
  margin: 0 auto;
  margin-top: var(--space-400);
  place-content: center;
  justify-content: space-evenly;
  max-width: 100%;
  width: 100%;
}

@mixin grid-cover {
  grid-template-columns: repeat(auto-fit, minmax(calc(5rem + 8%), 1fr));
  grid-gap: var(--space-600);
}

@mixin grid-chart {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(MIN(25rem, 100%), 1fr));
  grid-gap: var(--space-500);
}

@mixin grid-table {
  grid-template-columns: 1fr;
  row-gap: var(--space-500);
}
