@use '../../../css/config.scss' as *;
.container {
  --margin: var(--space-300);

  @include mq(above, sm) {
    --margin: var(--space-500);
  }

  width: 100vw;
  display: flex;
  padding: var(--space-200) var(--margin);
  align-items: center;
  background: var(--color-foreground-100);
  z-index: 9999;

  form {
    flex-basis: 45rem;
  }

  label {
    margin-left: var(--margin);
    flex-shrink: 0;

    @include mq(above, sm) {
      margin-left: auto;
    }
  }
}

.heading {
  font-size: var(--text-size-500);
  margin-right: var(--margin);

  &:hover {
    a {
      color: var(--color-text-accent-200);
    }
  }

  a {
    text-decoration: none;
  }
}
