@use '../../../css/config.scss' as *;
.wrapper {
  width: 100vw;
  display: flex;
  padding: var(--space-100) var(--space-400);
  align-items: center;
  justify-content: space-between;
  background: var(--color-foreground-100);
  z-index: 9999;
}

.heading {
  font-size: 1.15rem;
  margin-left: 1em;

  &:hover {
    a {
      color: var(--color-text-accent-200);
    }
  }

  a {
    text-decoration: none;
  }
}
