@use '../../../css/config.scss' as *;

.container {
  position: var(--position);
  top: 0;
  width: 100vw;
  display: flex;
  align-items: center;
  @include padding-vertical(var(--space-200));
  @include padding-horizontal(var(--space-300));
  background: var(--color-foreground-100);
  z-index: 9999;
  @include gap($row: var(--space-500));

  @include mq(above, sm) {
    @include padding-horizontal(var(--space-500));
  }
}

.heading {
  margin-right: auto;
  @include mq(above, sm) {
    font-size: var(--text-size-500);
  }

  &:hover {
    color: var(--color-text-accent-200);
  }
}
