@use '../../../css/config.scss' as *;

.button {
  display: grid;
  place-content: center;
  background: var(--color-foreground-200);
  position: fixed;
  bottom: var(--space-500);
  right: var(--space-500);
  border: none;
  opacity: 0.85;
  z-index: 1002;
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 0.1rem;
  @include mouse-effects(
    var(--color-foreground-300),
    var(--color-foreground-400)
  );

  svg {
    width: 1.3rem;
    height: 1.3rem;
  }
}
