@import '../../../css/config.scss';

.button {
  background: var(--color-foreground-200);
  position: fixed;
  bottom: calc(1rem + 1vw);
  right: calc(1rem + 1vw);
  border: none;
  opacity: 0.85;
  z-index: 1002;
  padding: 0.8rem;
  width: fit-content;
  height: fit-content;
  @include mouse-effects;

  svg {
    width: 1.3rem;
    height: 1.3rem;
  }
}
