@use '../../../css/config.scss' as *;

.form,
.searchBar,
.submitButton {
  height: 3rem;
}

.form {
  display: flex;
  background: var(--color-foreground-50);
  border-radius: 0.25em;
  overflow: hidden;

  &:focus-within {
    box-shadow: 0 0 0 0.1em var(--color-border-100);
  }
}

.input {
  padding: var(--space-300);
  background: transparent;
  color: inherit;
  border: none;
  font-family: inherit;
  min-width: 0;
  flex: 1;
}

.submitButton {
  display: flex;
  background: var(--color-foreground-200);
  align-items: center;
  justify-content: center;
  width: 10%;
  min-width: 3rem;

  * {
    height: 100%;
    background: transparent;
  }

  @include mouse-effects(
    var(--color-foreground-200),
    var(--color-foreground-300),
    bg
  );
}
