.genre {
  display: flex;
  align-items: center;
  font-size: inherit;
  color: var(--color-text);
  padding: 0.5em 1em;
  background: var(--color-background-200);
  border-radius: 0.75em;
  border: solid 1px var(--color-border);
  cursor: pointer;
  white-space: nowrap;
  transition: all 0.15s ease-in-out;

  &:hover,
  &:focus {
    color: var(--color-foreground-100);
    background: var(--color-bg);
  }

  &.hide {
    height: 0;
    width: 0;
    padding: 0;
    overflow: hidden;
    pointer-events: none;
    border: 0;
  }
}
