@use '../../../css/config.scss' as *;

.slider {
  display: grid;
  margin: 0 auto;
  margin-top: var(--space-400);
  place-content: center;
  justify-content: space-evenly;
  max-width: 100%;
  width: 100%;

  &.cover {
    grid-template-columns: repeat(auto-fit, minmax(calc(5rem + 5%), 1fr));
    grid-gap: var(--space-600);
  }

  &.chart {
    grid-template-columns: repeat(auto-fit, minmax(MIN(25rem, 100%), 1fr));
    grid-gap: var(--space-500);
  }

  &.table {
    grid-template-columns: 1fr;
    row-gap: var(--space-500);
  }

  &.sideScroll.cover {
    @include mq(below, sm) {
      overflow-x: auto;
      overflow-y: hidden;
      padding: var(--space-400);
      display: flex;
      justify-content: flex-start;
      grid-gap: 0;

      @include gap(var(--space-500));
      & > * {
        flex: 1 0 auto;
        width: 47.5vw;
      }
    }
  }
}
