@use '../../../css/config.scss' as *;

.container {
  display: flex;
  align-items: center;
  position: relative;
  background: var(--black-100);
  min-width: 100vw;
  height: 100vh;

  .header {
    position: absolute;
    top: 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: var(--space-600);
    z-index: 2;
  }

  .context {
    font-size: var(--text-size-300);
  }

  .footer {
    position: absolute;
    right: var(--space-600);
    bottom: var(--space-600);
    z-index: 2;
    color: var(--primary-700);

    &:hover {
      text-decoration: underline;
    }
  }

  .buttons {
    position: absolute;
    left: 50%;
    bottom: var(--space-500);
    transform: translateX(-50%);
    z-index: 1;

    @include mq(below, md) {
      display: none;
    }

    button.disabled {
      opacity: 0.4;
      cursor: default;
    }

    button:not(.disabled) {
      &:hover,
      &:focus {
        color: var(--primary-600);
      }
    }
  }
}
