.container {
  position: relative;
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  min-width: 100vw;
  height: 100vh;

  & > * {
    flex-shrink: 0;
    scroll-snap-align: start;
  }
}
