@use '../../../../css/config.scss' as *;

.wrapper {
  display: flex;
  align-items: center;
  font-size: var(--text-size-300);
  padding: var(--space-300);
  border-radius: 0.2em;
  text-align: center;
  transition: all 0.075s ease-in-out;
  white-space: nowrap;
  background-color: var(--color-bg);
  @include mouse-effects(var(--color-bg-hover), var(--color-bg-active), bg);

  &,
  & > * {
    color: var(--color-txt);
  }

  & > svg {
    fill: var(--color-txt);
    margin-left: var(--space-300);
  }

  &.primary {
    --color-txt: var(--color-text-invert-100);
    --color-bg: var(--color-foreground-accent-100);
    --color-bg-hover: var(--color-foreground-accent-200);
    --color-bg-active: var(--color-foreground-accent-100);
  }

  &.secondary {
    --color-txt: var(--color-text-accent-200);
    --color-bg: var(--color-foreground-200);
    --color-bg-hover: var(--color-foreground-300);
    --color-bg-active: var(--color-foreground-400);
  }
}
