.main {
  padding: 0 var(--space-400);
  padding-bottom: var(--space-600);

  .relations {
    display: flex;
    overflow-x: auto;
    margin-top: var(--space-500);
    padding-bottom: var(--space-400);
  }
}
